autopep8
django
django-environ
django-extensions
django-filter
djangorestframework
dj-rest-auth[with_social]
djangorestframework-simplejwt
psycopg2-binary
markdown
graphene-django
gunicorn
gevent
redis
django-redis
celery
flower
django-celery-results
django-celery-beat
daphne
uwsgi
channels
# channels-redis
channels_redis
asgi_redis
graphene-subscriptions
rx
uvicorn